<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="new tech in 2024">
    <title>home page</title>
</head>

<body>
    <h1>Welcome {{name}}</h1>
    <h2>hello this is home page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium natus eligendi reprehenderit nobis. Cumque
        pariatur nostrum, quos nesciunt sed autem.</p>
    <button>click me</button>
</body>

</html>